body,
html {
    height: 100%;
    padding: 0px;
    margin: 0%;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

header {
    padding: 2rem;
    background-color: red;
    display: flex;
    justify-content: space-between;
}

header > button {
    width: 10em;
    border-radius: 10px;
    color: white;
    background-color: #67e8f9;    
}

.books-container {
    padding: 5em;
    display: grid;
    column-gap: 3em;
    row-gap: 2em;
    grid-template-columns: repeat(auto-fill, 300px)
}

#bookForm {
    display: grid;
    gap: .5em;
}

.book-card {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    align-items: center;
    gap: 1.5em;
    font-size: 0.75rem;
}