body,
html {
  height: 100%;
  padding: 0px;
  margin: 0%;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

header {
  padding: 2rem;
  background-color: red;
  display: flex;
  justify-content: space-between;
}

header>button {
  width: 10em;
  border: none;
  color: black;
  background-color: #67e8f9;
}

.books-container {
  padding: 5em;
  display: grid;
  column-gap: 3em;
  row-gap: 2em;
  grid-template-columns: repeat(auto-fill, 300px)
}

#bookForm {
  display: grid;
  gap: .5em;
}

.book-card {
  display: flex;
  border: 5px solid black;
  border-radius: 10px;
  padding: .5rem;
  background: lightgreen;
  flex-direction: column;
  max-width: 300px;
  align-items: center;
  gap: 1.5em;
  font-size: 0.75rem;
}

.book-card > h1 {
  color: red;
}

.book-card > button {
  background-color: blue;
  padding: .5rem;
  text-decoration: none;
  color: white;
  border: none;
}

.toggle {
  --width: 40px;
  --height: calc(var(--width) / 2);
  --border-radius: calc(var(--height) / 2);

  display: inline-block;
  cursor: pointer;
}

.toggle-input {
  display: none;
}


.toggle-fill {
  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  background: #dddddd;
  transition: background .2s;
}

.toggle-input:checked~.toggle-fill {
  background: blue;
}


.toggle-fill::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: var(--height);
  width: var(--height);
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  transition: transform 0.2s;
}

.toggle-input:checked~.toggle-fill::after {
  transform: translateX(var(--height));
}